<!-- external-data.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Coingecko - Coin Data</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <h1>Coin Data from External API</h1>
  <div class="form-group">
    <label for="coinFilter">Filter by ID:</label>
    <input type="text" class="form-control" id="coinFilter" placeholder="Enter Coin ID">
  </div>
  <table class="test-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Coin ID</th>
        <th>Current Price (USD)</th>
      </tr>
      <tr></tr>
    </thead>
    <tbody id="coinDataBody">
      <tr th:each="coinData : ${coinDataList}" class="coinRow">
        <td><img th:src="${coinData.image}" alt="Coin Image" height="30"></td>
        <td th:text="${coinData.id}"></td>
        <td th:text="${coinData.currentPrice}"></td>
      </tr>
    </tbody>
  </table>
  
  <!-- Add JavaScript for filtering -->
  <!-- <script th:src="@{/js/scripts.js}"></script> -->
</body>

</html>